APP_NAME="Inventory Steven"
APP_ENV=local
APP_KEY=base64:pzovj+91bS5Q5l9xGDVuwMbN4SVyzfsSVGSbIeGDY0w=
APP_DEBUG=true
APP_TIMEZONE=Asia/Bangkok
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DATABASE_URL="postgresql://neondb_owner:npg_Exy89cQktdvn@ep-green-thunder-aqfklcz1-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DB_HOST=ep-green-thunder-aqfklcz1-pooler.c-8.us-east-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_Exy89cQktdvn
DB_SSLMODE=require

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

